* { /*disable browser specific padding etc.*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Lato', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

H.2.403INF1I {
    color:blue;
    background-color:black;
}

FnameTextBox {
    background-color: pink;
    width: 55%;
    margin: 0 auto;
    margin-top: 0px;
}

box {
    background-color: #f7b0b0
}


.wrap {
    height: 100%;
    overflow: hidden;
}
/* disable scrolling */

.header {
    height: 12%;
    background: #333;
    border-bottom: 1px solid #333;
}

.headers {
    padding-left: 1%;
    padding-top: 2%;

}

.maincontent {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    width: 100%;
    height: 88%;
    float: right;
}

.fixed_header {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow-x: hidden;
}

    .fixed_header tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 100%;
    }

    .fixed_header thead tr {
        display: block;
        width:100%;
    }

    .fixed_header thead {
        color: #fff;
        width:100%;
    }

    .fixed_header th, .fixed_header td {
        padding: 5px;
        text-align: left;
        width:300px;
    }
.headerbut {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #666666;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    padding: 8px;
    border: none;
}

.headerbuttons {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #434343;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    padding: 8px;
    border: none;   
}
    .headerbuttons:hover {
        background: #CC0033;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

th {
    color:white;
    background: #333;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 18px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}


.table {
    padding: 40px;
    text-align: center;
}
table, th, td {
    padding: 20px;
    border: 1px solid black;
    border: none;
    border-collapse: collapse;
    
}

table2, th, td {
    padding: 10px;
    border: 1px solid black;
    border: none;
    border-collapse: collapse;
    text-align: center;
    empty-cells: show;
}

table {
    
    width: 100%;
}

table2 {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ccc;
}


tr:nth-child(even) {
    background-color: #dedede;
}

.center {
    text-align: center;
    vertical-align: middle;
}



.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}



    .checkbox > input {
        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid gray;
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: white; /*Color when unchecked*/
        cursor: pointer;
    }

        .checkbox > input:checked {
            border: 2px solid gray;
            background-color: #de0025; /*Color when checked*/
        }

            .checkbox > input:checked + span::before {
                display: block;
                text-align: center;
                color: #de0025;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }


/* Styling for left classes menu */
.vertical-menu a {
    background-color: #dedede;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
}

    .vertical-menu a:hover {
        background-color: #ccc;
    }

    .vertical-menu a.active {
        background-color: #696868;
        color: white;
        text-align: center;
    }

.table tbody tr:hover td {
    background: #ccc;
}

.leftcolumn {
    background-color: white;
    width: 20%;         
    height: 90%;
    float: left;
    overflow-y: scroll;
    border: 1px solid #333;
    box-shadow: 5px 0 5px -2px #888;
}

.red {
    color: red;
}

.gray {
    background-color: gray;
}
/* Scrollbar customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }




h1 {
    color: white;
}

h2{
    font-size:40px;
    text-align:center;
}

h3{
    font-size:25px;
    text-align:left;
}

h4{
    font-size: 14px;
}
a{
    color:black;
    font-size:15px;
    padding-top:10px;
    font-weight:bold;
}
validation{
    color:red;
    font-weight:bold;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html {
    height: 100%;

}
a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #FF0000;
    }

input {
    outline: none;
    border: none;
}


button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}

.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #FF0000;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient( 225deg, #283048, #859398);
}

.wrap-login100 {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 50px 33px 50px;
    text-align: center;
    vertical-align: middle;
}


.login100-form {
    width: 290px;
}

.login100-form-title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
    padding-bottom: 28px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: block;
    width: 100%;
    background: #333;
    height: 50px;
    border-radius: 25px;
    padding: 0 0px 0 10px;

}

    .input100:hover {
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        display: block;
        width: 100%;
        background: #FF0033;
        height: 50px;
        border-radius: 25px;
        padding: 0 0px 0 10px;
    }

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #333;
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #FF0000;
    }



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 77px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
.validation{
    color:red;
}