@model ProjectCSA.Models.TeacherModel

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        User Login
                    </span>
                    <div class="wrap-input100 validate-input" >
                        @Html.TextBoxFor(model => model.Tcode, new { placeholder = "Teacher code", Class = "input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", Class = "input100", @type = "password"})
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" value="Login" class="login100-form-btn" />
                    </div>
                    <a class="txt2" href="~/Application/SignUp/">
                        Create your Account
                    </a>
                </form>
            </div>
        </div>



    </div>
}