@{
    ViewBag.Title = "TestQR";
}
    <div class="header">
        <div class="headers">
            <a class="headerbuttons" href="javascript:void(0);" onclick="history.go(-1);">Back to student List</a>
            @Html.ActionLink("Logout", "LogOut", "Application")
        </div>
    </div>


<div class="center">
    <img src="@ViewData["QRCodeImage"]" alt="No qr code :(" style="height:500px;width:500px" />
</div>