@{
    ViewBag.Title = "TestQR";
}
<link rel="stylesheet" type="text/css" href="../../Content/QRPage.css">

<div class="header">
    <div class="headers">
        <a class="headerbuttons" href="javascript:void(0);" onclick="history.go(-1);">Back to student List</a>
        @Html.ActionLink("Logout", "LogOut", "Application", null, new { @class = "headerbuttons" })
    </div>
</div>
<div>
</div>
<div class="maincontent">
    <div class="center">
        <img class="QR" src="@ViewData["QRCodeImage"]" />
    </div>
</div>
